
@{
    Layout = null;
}
<div class="row mt-3 mb-5">
    <div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">
        <h3 class="font-weight-bold text-4 mb-2 editable" id="text-29">@ViewBag.t1</h3>
        <p class="editable" id="text-30">
            @ViewBag.p1        
        </p>
    </div>
    <div class="col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
        <h3 class="font-weight-bold text-4 mb-2 editable" id="text-31">@ViewBag.t2</h3>
        <p class="editable" id="text-32">
            @ViewBag.p2
        </p>
    </div>
    <div class="col-md-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800">
        <h3 class="font-weight-bold text-4 mb-2 editable" id="text-33">@ViewBag.t3</h3>
        <p class="editable" id="text-34">
           @ViewBag.p3        
        </p>
    </div>
</div>