@model PortoWeb.Models.GeneralViewModel
@{
    ViewBag.Title = "ProjectDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lang = ViewBag.lang;
    var texts = PortoWeb.Models.LanguageTexts.Texts[lang];
}
<div role="main" class="main">

    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(~/Assets/img/page-header/page-header-about-us.jpg);">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-9 font-weight-bold">@Model.projectDetail.pName</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container pt-2 pb-4">

        <div class="row pb-4 mb-2 mt-3">
            <!-- Carousel Section -->
            <div class="col-md-6 mb-4 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300" style="animation-delay: 300ms;">
                <div class="owl-carousel owl-theme nav-inside nav-inside-edge nav-squared nav-with-transparency nav-dark owl-rtl"
                     data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': false}"
                     style="height: auto;">

                    @foreach (var image in Model.projectImages)
                    {
                        <div>
                            <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                                <img src="@Url.Content("~/Assets/img/projects/" + image.imageUrl)"
                                     class="img-fluid border-radius-0"
                                     alt="عکس از پروژه @Model.projectDetail.pName">
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Project Description Section -->
            <div class="col-md-6 mt-3 mt-md-0">
                <div class="overflow-hidden">
                    <h2 class="text-color-dark font-weight-normal text-4 mb-2 pb-1 appear-animation animated maskUp appear-animation-visible"
                        data-appear-animation="maskUp" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                        <strong class="font-weight-extra-bold">@texts["description"]</strong>
                    </h2>
                </div>
                <p class="appear-animation animated fadeInUpShorter appear-animation-visible"
                   data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" style="animation-delay: 800ms;">
                    @Model.projectDetail.pDes
                </p>

                <div class="overflow-hidden">
                    <h2 class="text-color-dark font-weight-normal text-4 mb-2 mt-3 appear-animation animated maskUp appear-animation-visible"
                        data-appear-animation="maskUp" data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
                        <strong class="font-weight-extra-bold">@texts["More Info"]</strong>
                    </h2>
                </div>
                <ul class="list list-icons list-primary list-borders text-2 appear-animation animated fadeInUpShorter appear-animation-visible"
                    data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200" style="animation-delay: 1200ms;">
                    <li><i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary">@texts["ProjectName"] :</strong> @Model.projectDetail.pName</li>
                    <li><i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary">@texts["Client"] :</strong> @Model.projectDetail.pClient</li>
                    @{
                        string persianDate = Model.projectDetail.DoneDate;
                        var partsDate = persianDate.Split('/');
                        var year = partsDate[0];
                        var month = partsDate[1];

                        string[] persianMonths = ViewBag.PersianMonths;
                        string persianMonth = persianMonths[int.Parse(month) - 1];
                    }
                    <li>
                        <i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary">@texts["Date"]:</strong>
                            @persianMonth @year
                    </li>
                    <li>
                        <i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary">@texts["Category"] :</strong>
                        <a href="#" class="badge badge-dark badge-sm badge-pill px-2 py-1 ml-1">@(lang == "fa" ? Model.viewProjectDetail.Cname : Model.viewProjectDetail.CnameEn)</a>
                    </li>
                    <li>
                        <i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary">@texts["ID"] :</strong>
                        <a href="#" class="text-dark">@Model.projectDetail.pID</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <section class="section section-height-3 bg-color-grey m-0 border-0 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-plugin-options="{'accY': -150}" style="animation-delay: 100ms;">
        <div class="container py-4">
            <h4 class="mb-4 text-4"><strong class="font-weight-extra-bold">@texts["RelativeProjects"]</strong></h4>
            <div class="row">
                @foreach (var item in ViewBag.fourProjects)
                {
                    <div class="col-12 col-sm-6 col-lg-3 mb-4">
                        <div class="portfolio-item">
                            <a href="/Home/ProjectDetail/@item.pID">
                                <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                                    <span class="thumb-info-wrapper border-radius-0">
                                        <img src="~/Assets/img/projects/@item.pMainPic" class="img-fluid border-radius-0" alt="عکس اصلی پروژه @item.pName">
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">@item.pName</span>
                                            <span class="thumb-info-type">@(lang == "fa" ? item.Cname : item.CnameEn)</span>
                                        </span>
                                        <span class="thumb-info-action">
                                            <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
</div>